<%- include("header.ejs") %>


<h1 class="date">
    <%= new Date().toDateString() %>
</h1>
<div class="container mt-3">
    <form action="/" method="post" class="task-form">
        <% if (locals.message) { %>
            <% for (let i = 0; i < message.length; i++) { %>
                <div class="task">
                    <label class="table">
                        <input type="checkbox" class="checkbox" data-index="<%= i %>" <%= message[i].completed ? 'checked' : '' %>>
                        <span class="table" data-index="<%= i %>" <%= message[i].completed ? 'class="completed"' : '' %>><%= message[i].text %></span>
                    </label>
                </div>
            <% } %>
        <% } %>
    </form>
</div>


<form class="center-form" action="/" method="post">
    <input class="search" type="text" placeholder="New item" id="text" name="text" required>
    <input class="btn" type="submit" value="Submit">
</form>

<!-- Client side javascript library for functionality of checked and unchecked-->

<%- include("script.ejs")  %>

<%- include("footer.ejs") %>